.header {

  background-color: #f1f1f1;
  overflow: hidden;

  .nav-bar {
    text-align: center;
  }

  .router-link {
    display: inline-flex;
    padding: 0.25em 0.2em;
    margin: 1em;
    text-decoration: none;
    -webkit-font-smoothing: antialiased;
    -webkit-touch-callout: none;
    user-select: none;
    cursor: pointer;
    outline: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-size: 16px;
    color: #0067db;

    &:hover {
      background: #ddd;
      color: #FFF;
    }
  }
}

.header-right {
  float: right;
}
