
.feature-page {
  h1 {
    font-size: 1.2em;
    margin: 0.25em;
  }

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 2em;
  }
}

  ul {
    font-family: Georgia, Times, 'Times New Roman', serif;
    padding-left: 1.75em;

    li {
      margin: 1em 0;

      p.title {
        font-weight: bold;
      }
    }
  }
}
