.home-page {
    min-height: calc(100vh - 150px);
    padding: 40px 40px 0 40px;

  h2 {
    font-size: 1.5em;
  }

  section {
    margin: 3em auto;

    &:first-child {
      margin-top: 0;
    }

    &.centered {
      text-align: center;
    }
  }

  form {
    margin-bottom: 1em;

     input {
      @media only screen and (max-width: 768px) { width: 100%;
        font-size: 1rem;}
      outline: none;
      border-bottom: 1px dotted #999;
      font-size: 2rem;
      width: 50%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      box-sizing: border-box;
      resize: vertical;
    }
  }

  span.at-prefix {
    color: black;
    margin-left: 0.4em;
  }
}
